<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background-color: #F0EEED;">
    <%- include('./partials/navbar') %>
    
    <div class="profile">
        <% if (user.role=='teacher' ) { %>
            <a href="/teacher/<%= user.id %>"><b>
                    <%= user.details.firstName %>
                        <%= user.details.lastName %>
                </b><br></a>
            <p>you are theacher, klick for show your profile</p>
            <% } %>
                <% if (user.role=='student' ) { %>
                    <a href="/student/<%= user.id %>"><b>
                            <%= user.details.firstName %>
                                <%= user.details.lastName %></b><br></a>
                    <%= user.role %> <br>
                    <% } %>
                    Age : <%= user.details.age %><br>
                    <%= user.details.school %> <br></div><br>

    <a href="/course/<%= id %>/enroll" class="button-19">Enroll to a new course</a>
    <br><br>

    <div class="container">
        <% user.courses.forEach(course=> { %>
            <div class="card">
                <img style="max-width: 100%;" src="<%= course.image %>" alt="">

                <div style="padding: 10px;">
                    <h3>
                        <%= course.name %>
                    </h3>
                    <p>Category : <%= course.category %>
                    </p>
                    <p>Duration : <%= course.duration %>
                    </p>
                    <a href="/dashboard/course/<%= id %>/details/<%=course.id%>">See Course</a>
                    
                    
                </div>

            </div>
            <% }) %>
    </div>


</body>

</html>