<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header> RuangLucu </header>
    <main>
        <h1>Edit Student</h1>
        <% let {firstName,lastName,dateOfBirth,school,city,UserId} = student[0] %>
        <form action="/student/<%= UserId %>/edit" method="post">
        
            <p>First Name
                <input type="text" name="firstName" value="<%= firstName %>">
            </p>
            <p>Last Name
                <input type="text" name="lastName" value="<%= lastName %>">
            </p>
            <p> Date Of Birth


                <input type="date" name="dateOfBirth"  >
            </p> 
            <p> City
                <input type="text" name="city" value="<%= city %>">
            </p>
            <p> School
                <input type="text" name="school" value="<%= school %>">
            </p>
            <input type="submit" value="Register">
        </form>

    </main>
    
</body>
</html>