<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <h1>Enroll to a course</h1>
    <div>Sort by : <a href="/course/<%= id %>/enroll/?sort=name">name</a> | <a href="/course/<%= id %>/enroll/?sort=duration">duration</a></div>
    <div>Filter

        <form action="/course/<%= id %>/enroll" method="get">
            <select name="filter">
                <option value="" selected disabled>Filter Subjects</option>
                <% ['Physics', 'Chemistry', 'Mathematics', 'Computer Science'].forEach(subject => { %>
                    <option value="<%= subject %>"><%= subject %></option>
                <% }) %>
            </select>
            <button type="submit">Filter</button>
        </form>
        
    </div>

    <div class="container">
        <% courses.forEach(course => { %>
            <div class="card">
                <img style="max-width: 100%;" src="<%= course.image %>" alt="">
                    
                <div style="padding: 10px;">
                    <h3><%= course.name %> </h3>
                    <p><%= course.category %></p>
                    <p><%= course.duration %></p>
                    <a href="/dashboard/course/<%= id %>/enroll/<%= course.id %>">enroll</a>
                </div>
               
            </div>
        <% }) %>
    </div>
</body>
</html>